header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background-color: white;
    border-bottom: 2px solid #f2f2f2;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.logo img {
    width: 100%; 
    height: auto;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #ff4081;
}


.search-bar {
    display: flex;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.search-bar input {
    padding: 12px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 200px; 
}


.menu {
    margin-right: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #ff4081;
}
.profile {
    display: flex;
    align-items: center;
}

.recipe-btn {
    background: rgb(173, 133, 150);
    color: black;
    border: none;
    padding: 12px 18px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
}

.user {
    font-size: 22px;
}
main {
    background-color: white;
    color: black;
    padding: 40px 20px;
    font-size: 16px;
    min-height: 60vh;
    display: flex;
    
}
.container {
    display: flex;
    width: 80%;
}


.filters {
    width: 250px;
    padding: 20px ; 
    border: 1px solid #eee;
    border-radius: 10px;
    background: #f9f9f9;
    margin-left: 80px;
}

.filters h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 5px 0;
}

.apply-btn {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}


.no-results {
    flex: 1;
    text-align: center;
    padding: 50px;
}

.no-results h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.no-results span {
    font-weight: bold;
    color: #ff4081;
}

.no-results img {
    width: 120px;
    margin: 20px 0;
}

.no-results p {
    margin-bottom: 20px;
}

.suggestions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tag {
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.pink { background-color: #dab2bf; }
.purple { background-color: #ba9fe9; }
.green { background-color: #beecc0; }
.blue { background-color: #9ac5e9;}
.apply-btn:hover {
    background-color: #e040fb; 
}

.tag:hover {
    opacity: 0.8;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 50px 0;
    font-size: 16px;

}
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
}


.footer-left {
    flex: 1;
    margin-right: 40px;
}


.footer-left h3,
.footer-links h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ff4081;
}


.footer-left p {
    font-size: 14px;
    margin-bottom: 15px;
}


.footer-subscribe {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-subscribe input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
}

.footer-subscribe button {
    padding: 10px 15px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.footer-subscribe button:hover {
    background-color: #e03670;
}


.footer-right {
    display: flex;
    flex: 2;
    justify-content: space-between;
}


.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #ff4081;
}


.footer-bottom {
    text-align: left;
    margin-top: 60px;
    padding-top: 15px;
    border-top: 1px solid #444;
    font-size: 20px;
    padding-left: 170px;
   
}
.logo1 {
    display: flex; 
    align-items: center; 
}
.logo1 img {
    margin-right: 10px; 
}




      